@page
@model Payscrow.WebUI.Areas.Business.Pages.MarketPlace.Transactions.IndexModel
@{
    ViewBag.Title = "Transactions";
    ViewBag.MenuItemClass = "market-place-transactions";
}

<div class="card mb-2">

    <div class="card-header border-0 pt-6">
        <!--begin::Card title-->
        <div class="card-title">
            <!--begin::Search-->
            <div class="d-flex align-items-center position-relative my-1">
                <!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
                <span class="svg-icon svg-icon-1 position-absolute ms-6">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="black"></rect>
                        <path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="black"></path>
                    </svg>
                </span>
                <!--end::Svg Icon-->
                <input type="text" data-kt-user-table-filter="search" class="form-control form-control-solid w-250px ps-14" placeholder="Search user">
            </div>
            <!--end::Search-->
        </div>
        <!--begin::Card title-->
        <!--begin::Card toolbar-->
        <div class="card-toolbar">
            <!--begin::Toolbar-->
            <div class="d-flex justify-content-end" data-kt-user-table-toolbar="base">

                <!--begin::Export-->
                <button type="button" class="btn btn-primary me-3">
                    <!--begin::Svg Icon | path: icons/duotune/arrows/arr078.svg-->
                    <span class="svg-icon svg-icon-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <rect opacity="0.3" x="12.75" y="4.25" width="12" height="2" rx="1" transform="rotate(90 12.75 4.25)" fill="black"></rect>
                            <path d="M12.0573 6.11875L13.5203 7.87435C13.9121 8.34457 14.6232 8.37683 15.056 7.94401C15.4457 7.5543 15.4641 6.92836 15.0979 6.51643L12.4974 3.59084C12.0996 3.14332 11.4004 3.14332 11.0026 3.59084L8.40206 6.51643C8.0359 6.92836 8.0543 7.5543 8.44401 7.94401C8.87683 8.37683 9.58785 8.34458 9.9797 7.87435L11.4427 6.11875C11.6026 5.92684 11.8974 5.92684 12.0573 6.11875Z" fill="black"></path>
                            <path d="M18.75 8.25H17.75C17.1977 8.25 16.75 8.69772 16.75 9.25C16.75 9.80228 17.1977 10.25 17.75 10.25C18.3023 10.25 18.75 10.6977 18.75 11.25V18.25C18.75 18.8023 18.3023 19.25 17.75 19.25H5.75C5.19772 19.25 4.75 18.8023 4.75 18.25V11.25C4.75 10.6977 5.19771 10.25 5.75 10.25C6.30229 10.25 6.75 9.80228 6.75 9.25C6.75 8.69772 6.30229 8.25 5.75 8.25H4.75C3.64543 8.25 2.75 9.14543 2.75 10.25V19.25C2.75 20.3546 3.64543 21.25 4.75 21.25H18.75C19.8546 21.25 20.75 20.3546 20.75 19.25V10.25C20.75 9.14543 19.8546 8.25 18.75 8.25Z" fill="#C4C4C4"></path>
                        </svg>
                    </span>
                    <!--end::Svg Icon-->Export
                </button>
                <!--end::Export-->
            </div>
            <!--end::Toolbar-->
            <!--begin::Group actions-->
            <div class="d-flex justify-content-end align-items-center d-none" data-kt-user-table-toolbar="selected">
                <div class="fw-bolder me-5">
                    <span class="me-2" data-kt-user-table-select="selected_count"></span>Selected
                </div>
                <button type="button" class="btn btn-danger" data-kt-user-table-select="delete_selected">Delete Selected</button>
            </div>
            <!--end::Group actions-->
        </div>
        <!--end::Card toolbar-->
    </div>

    <div class="card-body fs-6 py-15 px-10 py-lg-15 px-lg-15 text-gray-700">
        <!--begin::Wrapper-->
        <!--<div class="d-flex flex-stack mb-5">

            <h2 class="anchor fw-bolder mb-5">
                List Of Transactions
            </h2>-->
        <!--begin::Toolbar-->
        <!--<div class="d-flex justify-content-end" data-kt-docs-table-toolbar="base">-->
        <!--begin::Add customer-->
        <!--<button type="button" class="btn btn-primary">
            <span class="svg-icon svg-icon-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <rect opacity="0.5" x="11.364" y="20.364" width="16" height="2" rx="1" transform="rotate(-90 11.364 20.364)" fill="black"></rect>
                    <rect x="4.36396" y="11.364" width="16" height="2" rx="1" fill="black"></rect>
                </svg>
            </span>
            Add Container
        </button>-->
        <!--end::Add customer-->
        <!--</div>-->
        <!--end::Toolbar-->
        <!--begin::Group actions-->
        <!--<div class="d-flex justify-content-end align-items-center d-none" data-kt-docs-table-toolbar="selected">
            <div class="fw-bolder me-5">
                <span class="me-2" data-kt-docs-table-select="selected_count"></span> Selected
            </div>

            <button type="button" class="btn btn-danger" data-bs-toggle="tooltip" title="Coming Soon">
                Selection Action
            </button>
        </div>-->
        <!--end::Group actions-->
        <!--</div>-->
        <!--end::Wrapper-->
        <!--begin: Datatable-->
        <table class="table align-middle border rounded table-row-dashed fs-6 g-5" id="datatable" style="margin-top: 13px !important">
            <thead>
                <tr class="text-start text-gray-400 fw-bolder fs-7 text-uppercase">
                    <th>Number</th>
                    <th>Broker</th>
                    <th>Merchant</th>
                    <th>Customer</th>

                    <th>Amount</th>
                    <th>Status</th>
                    <th>Date</th>
                    <th class="text-end min-w-100px">Actions</th>
                </tr>
            </thead>
            <tbody class="text-gray-600 fw-bold"></tbody>
        </table>
        <!--end: Datatable-->
    </div>
</div>

@section vendor_styles{
    <link href="~/themes/metronic/v8/assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" />
}

@section vendor_scripts{
    <script src="~/themes/metronic/v8/assets/plugins/custom/datatables/datatables.bundle.js"></script>
}

@section page_scripts{

    <script asp-append-version="true" src="~/js/app/business/market-place/marketplace-transactions-datatable-view-model.js"></script>

    <script type="text/javascript">

        $(function () {

            var viewModel = new MarketPlaceTransactionsDatatableViewModel();
            ko.applyBindings(viewModel, document.getElementById('kt_content_container'));

        });
    </script>

}