@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    ViewBag.BodyId = "homepage";
}




<section class="slider-banner">
    <div class="container">
        <div class="slideControls">
            <a class="slidePrev">
                <i class="fa fa-angle-left"></i>
            </a>
            <a class="slideNext">
                <i class="fa fa-angle-right"></i>
            </a>
        </div>
    </div>
    <ul class="content-slider">
        <li>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h1 class="hidden animate__animated avgardd-bold">
                            The safest way to trade online
                        </h1>
                        <p class="hidden animate__animated">
                            PayScrow protects buyers and sellers in any online transaction. Now you can do business with anyone, anywhere, even if you don't know or trust them.
                        </p>
                        <a class="hidden animate__animated btn bg-darken" href="#">
                            Get Started
                        </a>
                        <a class="hidden animate__animated btn bg-none" href="#">
                            How it Works
                        </a>
                    </div>
                    <div class="col-md-6">
                        <img src="~/themes/payscrow/img/obj-slider.png" />
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h1 class="hidden animate__animated avgardd-bold">
                            The safest way to trade online
                        </h1>
                        <p class="hidden animate__animated">
                            PayScrow protects buyers and sellers in any online transaction. Now you can do business with anyone, anywhere, even if you don't know or trust them.
                        </p>
                        <a class="hidden animate__animated btn bg-darken" href="#">
                            Get Started
                        </a>
                        <a class="hidden animate__animated btn bg-none" href="#">
                            How it Works
                        </a>
                    </div>
                    <div class="col-md-6">
                        <img src="~/themes/payscrow/img/obj-slider.png" />
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h1 class="hidden animate__animated avgardd-bold">
                            The safest way to trade online
                        </h1>
                        <p class="hidden animate__animated">
                            PayScrow protects buyers and sellers in any online transaction. Now you can do business with anyone, anywhere, even if you don't know or trust them.
                        </p>
                        <a class="hidden animate__animated btn bg-darken" href="#">
                            Get Started
                        </a>
                        <a class="hidden animate__animated btn bg-none" href="#">
                            How it Works
                        </a>
                    </div>
                    <div class="col-md-6">
                        <img src="~/themes/payscrow/img/obj-slider.png" />
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="row partners">
                    <li data-aos="fade-up" data-aos-delay="0" class="col">
                        <a href="#">
                            <img src="~/themes/payscrow/img/p1.png" />
                        </a>
                    </li>
                    <li data-aos="fade-up" data-aos-delay="200" class="col">
                        <a href="#">
                            <img src="~/themes/payscrow/img/p2.png" />
                        </a>
                    </li>
                    <li data-aos="fade-up" data-aos-delay="400" class="col">
                        <a href="#">
                            <img src="~/themes/payscrow/img/p3.png" />
                        </a>
                    </li>
                    <li data-aos="fade-up" data-aos-delay="600" class="col">
                        <a href="#">
                            <img src="~/themes/payscrow/img/p4.png" />
                        </a>
                    </li>
                    <li data-aos="fade-up" data-aos-delay="800" class="col">
                        <a href="#">
                            <img src="~/themes/payscrow/img/p5.png" />
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="for-seller">
    <div class="container">
        <div class="row">
            <div class="offset-md-1 col-md-10 text-center">
                <h1 data-aos="fade-down" class="avgardd-bold text-center">
                    PayScrow for Sellers
                </h1>
                <p data-aos="fade-down" class="text-center c-white">
                    PayScrow guarantees payment commitment from your customers and gives you 100% assurance that funds hae been received, secured and waiting to be disbursed once your product or service delivery is successful. Make your customers feel even more comfortable doing business with you by adding PayScrow as your escrow payment option.
                </p>
                <a data-aos="fade-down" href="#">
                    Get Started
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <ul data-aos="fade-left">
                    <li><i class="fas fa-check-circle"></i> Boost your sales, increase your conversion rate</li>
                    <li><i class="fas fa-check-circle"></i> Guaranteed upfront commitment from buyers</li>
                    <li><i class="fas fa-check-circle"></i> Reduces rate of abandoned orders</li>
                    <li><i class="fas fa-check-circle"></i> Saves logistics cost</li>
                </ul>
            </div>
            <div class="offset-md-4 col-md-4">
                <ul data-aos="fade-right">
                    <li><i class="fas fa-check-circle"></i> Eliminates the risk of Pay/Cash-on-delivery</li>
                    <li><i class="fas fa-check-circle"></i> Proof of delivery</li>
                    <li><i class="fas fa-check-circle"></i> Easy integration</li>
                    <li><i class="fas fa-check-circle"></i> Merchant dashboard for monitoring transactions</li>
                    <li><i class="fas fa-check-circle"></i> Real time notifications</li>
                </ul>
            </div>
        </div>
        <img data-aos="fade-up" src="~/themes/payscrow/img/obj1.png" />
    </div>
</section>
<section class="for-buyer">
    <div class="container">
        <div class="row">
            <div class="offset-md-1 col-md-10 text-center">
                <h1 data-aos="fade-down" class="avgardd-bold text-center">
                    PayScrow for Buyers
                </h1>
                <p data-aos="fade-down" class="text-center c-white">
                    Now you have a chance to be in control while still showing your commitment for your online purchases. We secure your payment until your items arrive and in good condition before releasing funds to the merchant. PayScrow gives you peace of mind. No stories and guaranteed refunds if items specs and the terms of trade are not met.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="offset-md-1 col-md-10">
                <div class="row">
                    <div class="col-md-6">
                        <ul data-aos="fade-left">
                            <li><i class="fas fa-check-circle"></i> Stay in control of your orders</li>
                            <li><i class="fas fa-check-circle"></i> Secure escrow payment</li>
                            <li><i class="fas fa-check-circle"></i> Eliminate payment scam/fraud</li>
                            <li><i class="fas fa-check-circle"></i> Ensures seller's commitment to quality and specs</li>
                            <li><i class="fas fa-check-circle"></i> Seller's commitment to delivery timeframe</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul data-aos="fade-right">
                            <li><i class="fas fa-check-circle"></i> No deliveries, wrong or damaged product, no payment</li>
                            <li><i class="fas fa-check-circle"></i> Transaction tracking dashboard</li>
                            <li><i class="fas fa-check-circle"></i> Quick and easy refunds if terms are not met</li>
                            <li><i class="fas fa-check-circle"></i> Real time notifications</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="offset-md-1 col-md-10 text-center">
                <a data-aos="fade-down" href="#">
                    Get Started
                </a>
            </div>
        </div>
        <img data-aos="fade-up" src="~/themes/payscrow/img/obj2.png" />
    </div>
</section>
<section class="for-social">
    <div class="container">
        <div class="row">
            <div class="offset-md-1 col-md-10 text-center">
                <h1 data-aos="fade-down" class="avgardd-bold text-center">
                    PayScrow for Social Commerce
                </h1>
                <p data-aos="fade-down" class="text-center c-white">
                    Make new friends and potential customers with a friendly and secure payment method. Make them comfortable doing business with you and increase your conversion rate. Send a PayScrow payment invite to your customers on your social sales channels (WhatsApp, Instagram, Facebook etc.). PayScrow is an escrow payment option that suits your business and reassures your customers.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="offset-md-1 col-md-10">
                <div class="row">
                    <div class="col-md-6">
                        <ul data-aos="fade-left">
                            <li><i class="fas fa-check-circle"></i> Address customers' payment method concerns by offering an escrow option</li>
                            <li><i class="fas fa-check-circle"></i> Get customer commitment before you make a delivery move</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul data-aos="fade-right">
                            <li><i class="fas fa-check-circle"></i> Eliminate the risk of Pay/Cash on delivery</li>
                            <li><i class="fas fa-check-circle"></i> Reduces the rate of phone</li>
                            <li><i class="fas fa-check-circle"></i> Easy integration</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="offset-md-1 col-md-10 text-center">
                <a data-aos="fade-down" href="#">
                    Get Started
                </a>
            </div>
        </div>
        <img data-aos="fade-up" src="~/themes/payscrow/img/obj3.png" />
    </div>
</section>
<section class="comments">
    <div class="container">
        <div class="row socials">
            <div class="offset-md-1 col-md-10 text-center">
                <ul class="content-slider">
                    <li>
                        <div data-aos="zoom-in-up" data-aos-delay="0" class="col-md-12 box-layer">
                            <div class="box text-center">
                                <h1>RK</h1>
                                <h4>Ron Kiunis</h4>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <em>Feb 28, 2020</em>
                                <p>
                                    Great Customer Service. Top of the line. They go above and beyond. Nice Equipment.
                                </p>
                                <a href="#">
                                    <img src="~/themes/payscrow/img/google-icon.png" />
                                </a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div data-aos="zoom-in-up" data-aos-delay="300" class="col-md-12 box-layer">
                            <div class="box text-center">
                                <h1>LR</h1>
                                <h4>Lean Richards</h4>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <em>Feb 28, 2020</em>
                                <p>
                                    Great Customer Service. Top of the line. They go above and beyond. Nice Equipment.
                                </p>
                                <a href="#">
                                    <img src="~/themes/payscrow/img/google-icon.png" />
                                </a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div data-aos="zoom-in-up" data-aos-delay="600" class="col-md-12 box-layer">
                            <div class="box text-center">
                                <h1>JR</h1>
                                <h4>Jericho Rosales</h4>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <em>Feb 28, 2020</em>
                                <p>
                                    Great Customer Service. Top of the line. They go above and beyond. Nice Equipment.
                                </p>
                                <a href="#">
                                    <img src="~/themes/payscrow/img/google-icon.png" />
                                </a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div data-aos="zoom-in-up" class="col-md-12 box-layer">
                            <div class="box text-center">
                                <h1>RK</h1>
                                <h4>Ron Kiunis</h4>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <em>Feb 28, 2020</em>
                                <p>
                                    Great Customer Service. Top of the line. They go above and beyond. Nice Equipment.
                                </p>
                                <a href="#">
                                    <img src="~/themes/payscrow/img/google-icon.png" />
                                </a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div data-aos="zoom-in-up" class="col-md-12 box-layer">
                            <div class="box text-center">
                                <h1>LR</h1>
                                <h4>Lean Richards</h4>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <em>Feb 28, 2020</em>
                                <p>
                                    Great Customer Service. Top of the line. They go above and beyond. Nice Equipment.
                                </p>
                                <a href="#">
                                    <img src="~/themes/payscrow/img/google-icon.png" />
                                </a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div data-aos="zoom-in-up" class="col-md-12 box-layer">
                            <div class="box text-center">
                                <h1>JR</h1>
                                <h4>Jericho Rosales</h4>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <em>Feb 28, 2020</em>
                                <p>
                                    Great Customer Service. Top of the line. They go above and beyond. Nice Equipment.
                                </p>
                                <a href="#">
                                    <img src="~/themes/payscrow/img/google-icon.png" />
                                </a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div data-aos="zoom-in-up" class="col-md-12 box-layer">
                            <div class="box text-center">
                                <h1>RK</h1>
                                <h4>Ron Kiunis</h4>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <em>Feb 28, 2020</em>
                                <p>
                                    Great Customer Service. Top of the line. They go above and beyond. Nice Equipment.
                                </p>
                                <a href="#">
                                    <img src="~/themes/payscrow/img/google-icon.png" />
                                </a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div data-aos="zoom-in-up" class="col-md-12 box-layer">
                            <div class="box text-center">
                                <h1>LR</h1>
                                <h4>Lean Richards</h4>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <em>Feb 28, 2020</em>
                                <p>
                                    Great Customer Service. Top of the line. They go above and beyond. Nice Equipment.
                                </p>
                                <a href="#">
                                    <img src="~/themes/payscrow/img/google-icon.png" />
                                </a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div data-aos="zoom-in-up" class="col-md-12 box-layer">
                            <div class="box text-center">
                                <h1>JR</h1>
                                <h4>Jericho Rosales</h4>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <em>Feb 28, 2020</em>
                                <p>
                                    Great Customer Service. Top of the line. They go above and beyond. Nice Equipment.
                                </p>
                                <a href="#">
                                    <img src="~/themes/payscrow/img/google-icon.png" />
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>